* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader__hide {
  display: none;
}

.separartor {
  width: 100%;
  height: 2px;
  background: green;
  margin: 8px 0;
}

.weather__title {
  font-size: 21px;
  color: purple;
}

.weather__block {
  width: 250px;
  height: 300px;
  border: 3px solid blue;
  border-radius: 8px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 11px 4px #000000;
          box-shadow: 0px 0px 11px 4px #000000;
  padding: 15px 10px;
}

.weather__block_title {
  text-align: center;
}

.weather__block_deg {
  font-size: 72px;
  text-align: center;
}

.weather__block_main {
  font-size: 21px;
  text-align: center;
}

.weather__block_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.weather__block_feelText {
  font-size: 16px;
}

.weather__block_feel {
  font-size: 18px;
}

.weather__block_icon {
  width: 64px;
  height: 64px;
  margin: auto;
}

.weather__block_icon img {
  width: 100%;
}

.forecast {
  padding-top: 100px;
}

.forecast__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.forecast__block {
  width: 200px;
  height: 250px;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */