*{
    padding: 0;
    margin: 0;
}
div {
    // transition: .2s ease-in-out;
}
.hidden{
    height: 100vh;
    background-color: #007ced;
    background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
    overflow: hidden;
}
.hidden div{
    opacity: 0;
    transition: .2s ease-in-out;
}
.hidden .hidden__inner{
    opacity: 1;
    transition: .2s ease-in-out;
    height: 100%;
    position: relative;
    height: 100%;
    background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
    background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
                url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
                url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
    animation: wind 20s linear infinite;
}

@keyframes wind{
    0% {
      background-position: 0 200px, 0 300px, 100px 250px;
    }
    100% {
      background-position: 1000px 200px, 1200px 300px, 1100px 250px;
    }
  
  }
.hidden .loader{
    opacity: 1;
}
.wrapper{
    display: flex;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader__hide{
    display: none;
}
.separartor{
    width: 100%;
    height: 2px;
    background: green;
    margin: 8px 0;
}

.weather{
    &__block{
        width: 250px;
        height: 300px;
        border: 3px solid blue;
        border-radius: 8px;
        margin-top: 20px;
        // box-shadow: 0px 0px 11px 4px #000000;
        box-shadow: 0px 0px 11px 4px transparent;
        padding: 15px 10px;
        &_title{
            text-align: center;
        }
        &_deg{
            font-size: 72px;
            text-align: center;
        }
        &_main{
            font-size: 21px;
            text-align: center;
        }
        &_wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
        }
        &_feelText{
            font-size: 16px;
        }
        &_feel{
            font-size: 18px;
        }
        &_day{
            text-align: center;
        }
        &_icon{
            width: 100px;
            height: 100px;
            margin: auto;
            img{
                width: 100%;
            }
        }
    }
}

.forecast{
    padding-top: 100px;
    padding-bottom: 100px;
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__block{
        width: 200px;
        height: 250px;
        border: 1px solid #303030;
        margin-top: 20px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-basis: 200px;
        flex-grow: none;
    }
}
.weather__block{
    transition: .5s ease-in-out;
}
.weather__block.weather__block_loaded{
    transform: translateX(calc(50vw - 50%));
    transition: .5s ease-in-out;
}
.weather__block_loaded:hover{
    box-shadow: 0px 0px 11px 4px #000000;
}